@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap");
body {
  background-image: linear-gradient(to left, #395fdb, blue);
}
.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid red;
  margin-top: 20%;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 3s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container {
  background-size: cover;
  text-align: -webkit-center;
}
.container1 {
  height: auto;
  padding-bottom: 400px;
}
.nav {
  height: 50px;
  background-color: black;
  padding: 15px;
  overflow: hidden;
  font-weight: bold;
}
.nav .active {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  transition: 0.3s;
}
.nav .active:hover {
  color: rgb(23, 184, 63);
}
.nav .btn {
  display: none;
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
  border-radius: 10px;
}
.nav .btn:hover {
  color: rgb(23, 184, 63);
  box-shadow: 0px 0px 0px 2.5px rgba(23, 184, 63, 0.979);
}
@media screen and (max-width: 600px) {
  .nav a.btn {
    color: #f2f2f2;
    float: right;
    display: block;
  }
  .container1 {
    height: 210vh;
    text-align: -webkit-center;
  }
}
.intro {
  top: 70%;
  width: 50%;
  border-radius: 10px;
  padding: 15px;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid white;
  margin: 20% auto 0;
  background: linear-gradient(
    045deg,
    rgba(12, 11, 12, 0.555),
    rgba(59, 57, 57, 0.555)
  );
  color: white;
}
