.column {
  width: 33.3%;
  float: right;
}
.img1 {
  background: lightblue;
  position: relative;
  flex: 1;
  max-width: 460px;
  height: 360px;
  margin: 5px;
  transition: 0.2s;
  overflow: hidden;
}
.img1:hover {
  border-radius: 5px;
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.25);
}
.img1 img {
  opacity: 0.9;
  position: relative;
  vertical-align: top;
  transition: 0.3s;
  transition-property: opacity;
  width: 100%;
  height: 100%;
}
.img1:hover img {
  opacity: 0.6;
}
.img1 .details {
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff;
  width: 100%;
  height: 100%;
}
.img .details h2 {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  font-size: 30px;
  text-transform: none;
  font-weight: 300;
  margin-top: 300px;
  transition: 0.5s;
  transition-property: transform;
}
.img .details h2 span {
  font-weight: 800;
}
.img:hover .details h2 {
  transform: translateY(-70px);
}
.img .details p {
  margin: 30px 30px 0 30px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
  transition-property: opacity, transform;
}
.img:hover .details p {
  opacity: 1;
  transform: translateY(-120px);
}
.more {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  bottom: -60px;
  transition: 0.5s;
  transition-property: bottom;
}
.img:hover .more {
  bottom: 0;
}
.more .read-more {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  text-transform: none;
}
.footer {
  text-align: justify;
}
.footer .col {
  width: 100%;
  background-color: #070617;
  bottom: 0;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255, 255, 255, 0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li a {
  color: #ffffffff;
  transition: 0.2s;
  text-decoration: none;
}
.footer .col ul li a:hover {
  color: blue;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}
.footer .col ul li:hover {
  color: #ffffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}
.clearfix {
  clear: both;
}
.column {
  text-align: -webkit-center;
}
@media only screen and (min-width: 320px) {
  .column {
    width: 100%;
    float: left;
  }
}
@media only screen and (min-width: 480px) {
  .column {
    width: 100%;
    float: left;
  }
}
@media only screen and (min-width: 768px) {
  .column {
    width: 50%;
    float: left;
  }
}
@media only screen and (min-width: 992px) {
  .column {
    width: 50%;
    float: left;
  }
}
@media only screen and (min-width: 1200px) {
  .column {
    width: 33.3%;
    float: left;
  }
}
